.margin {
    margin: 1em 0;
}
.flare {
    position: relative;
    display: grid;
    place-content: center;
    filter: drop-shadow(0 0 0.5rem #fff);
    &::after {
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        border: 2px solid #fff;
        animation: flare 300ms ease 1 forwards;
    }
}
span.infernal {
    position: relative;
    display: inline-block;
    font-family: var(--font-demonic);
    font-size: 1.25em;
    color: var(--col-red);
    line-height: 1;
    text-indent: 0;
    a::before {
        background: unset !important;
    }
    &::before {
        position: absolute;
        content: '';
        inset: 0;
        background: hsla(360deg, 70%, 50%, 0.5);
        filter: url(#wiggle) blur(8px);
        z-index: -1;
    }
}
@keyframes flare {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(0);
    }
}

// Shimmer effect
.macro-cycle p, .macro-cycle, .dream {
    background: linear-gradient(0deg, var(--col-verdigris-trans), var(--col-verdigris), var(--col-verdigris-trans));
    background-size: 200% 200%;
    // background-repeat: no-repeat;
    background-clip: text;
    font-weight: bold;
    color: transparent;
    
    animation: shimmer 3s infinite linear;
    transition: filter 0.5s ease;
    filter: brightness(0);

    &:hover {
        animation-play-state: paused;
        filter: brightness(4);
    }
}

@keyframes shimmer {
    0% {
        background-position: 100% -100%;
    }
    100% {
        background-position: 100% 100%;
    }
}

#menu_choices [id^="choice"] {
    flex: 1;
    position: relative;

    display: grid;
    grid-template-areas: 
        "description description description description description description"
        "current card1 card2 card3 value rewards";
    grid-template-columns: auto auto auto auto auto 1fr;
    gap: 0.5rem 0;
    place-content: center;
    border: 2px solid white;
    padding: 1em 2em;
    
    .choice_text {
        grid-area: description;
        text-align: center;
    }
    // Other elements in Choice
    .requirements, .rewards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;

    }
    
    .rewards {
        grid-area: rewards;
    }
    h2 {
        display: grid;
        place-content: center;
        margin: 0;
        width: 50px;
        aspect-ratio: 1;
        border: 2px solid var(--ui-medium);
        border-radius: 50%;
        background: var(--ui-dark);
        text-align: center;
        z-index: 1;

        &.value {
            grid-area: value;
        }
        &.current {
            grid-area: current;
            position: relative;
            background: none;
            border: none;
            
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background: var(--col-black);
                border: 2px solid var(--ui-medium);
                border-radius: 0;
                rotate: 45deg;
                z-index: -1;
            }
        }
    }
    p {
        margin: 0;
    }
    &.success h2.current {
        color: var(--ui-dark);
        &::before {
            background: var(--ui-accent);
            border-color: var(--ui-accent-light);
        }
    }
}

#menu_choices [id^=choice_].vessel {
    background: radial-gradient(ellipse at top center, transparent, var(--mc-main-dark));
    border: 2px solid var(--mc-main);
    color: var(--mc-main-light);
    border-radius: 1em;
}

#menu_choices [id^=choice_].demon {
    position: relative;
    color: var(--dem-main-light);
    border: unset;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(ellipse at top center, transparent, var(--dem-main-dark));
        border: 2px solid var(--dem-main);
        border-radius: 1em;
        z-index: 0;
        filter: url(#squiggle);
    }
}

div.choices {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
}
div.choices label {
    display: block;
    position: relative;
    padding: 5px;
    
    &::before {
        position: absolute;
        content: '';
        inset: 0;
        background: var(--col-tuscany-trans);
        border: 1px solid var(--col-tuscany);
        mask-image: linear-gradient(to right, transparent, black 5em, black, transparent);
        z-index: -1;
    }
}

div.choices label:hover {
    background: var(--col-tuscany);
}
div.choices label:hover a {
    color: var(--col-black);
    font-weight: bold;
}


// Eye icon for choice peeks

div.choices label._peek a::before {
    font-family: var(--font-icon);
    font-size: 1.5em;
    line-height: 1.55;
    vertical-align: middle;
    content: 'visibility';
    margin-right: 5px;
    & + * {
        margin-left: 1em;
    }
}

