.margin {
    margin: 1em 0;
}
.flare {
    position: relative;
    display: grid;
    place-content: center;
    filter: drop-shadow(0 0 0.5rem #fff);
    &::after {
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        border: 2px solid #fff;
        animation: flare 300ms ease 1 forwards;
    }
}
span.infernal {
    position: relative;
    display: inline-block;
    font-family: var(--font-demonic);
    font-size: 1.25em;
    color: var(--col-red);
    line-height: 1;
    text-indent: 0;
    a::before {
        background: unset !important;
    }
    &::before {
        position: absolute;
        content: '';
        inset: 0;
        background: hsla(360deg, 70%, 50%, 0.5);
        filter: url(#wiggle) blur(8px);
        z-index: -1;
    }
}
@keyframes flare {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(0);
    }
}

// Shimmer effect
.macro-cycle p, .macro-cycle, .dream {
    background: linear-gradient(0deg, var(--col-verdigris-trans), var(--col-verdigris), var(--col-verdigris-trans));
    background-size: 200% 200%;
    // background-repeat: no-repeat;
    background-clip: text;
    font-weight: bold;
    color: transparent;
    
    animation: shimmer 3s infinite linear;
    transition: filter 0.5s ease;
    filter: brightness(0);

    &:hover {
        animation-play-state: paused;
        filter: brightness(4);
    }
}

@keyframes shimmer {
    0% {
        background-position: 100% -100%;
    }
    100% {
        background-position: 100% 100%;
    }
}

div.radio {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
}
label.radio {
    display: block;
    position: relative;
    padding: 5px;
    margin: 0.5em 0;
    
    &::before {
        position: absolute;
        content: '';
        inset: 0;
        background: var(--col-tuscany-trans);
        border: 1px solid var(--col-tuscany);
        mask-image: linear-gradient(to right, transparent, black 5em, black, transparent);
        z-index: -1;
    }
}

label.radio:hover {
    background: var(--col-tuscany);
    
    a {
        color: var(--col-black);
        font-weight: bold;
    }
}


// Eye icon for choice peeks

div.radio a._peek::after {
    font-family: var(--font-icon);
    font-size: 1.5em;
    line-height: 1.55;
    vertical-align: middle;
    content: 'visibility';
    margin-right: 5px;
    & + * {
        margin-left: 1em;
    }
}

#character_menu {
    position: fixed;
    width: auto;
    display: flex;
    top: 10vh;
    list-style-type: none;
    padding: 0;
    li {
        margin: 1rem;
        // opacity: 0;
        transition: all 500ms ease-out;
        animation: floatIn 500ms forwards ease-out;
        a {
            display: block;
            height: 80vh;
            aspect-ratio: 1 / 1.5;
            background-image: url(https://medieve.github.io/Devil-Warp/assets/devil.jpg);
            background-size: cover;
            background-repeat: no-repeat;

            text-align: center;
            font-size: 2em;
        }
        &#engineer {
            transform: translateX(50%);
        }
        &#scientist {
            transform: translateX(-50%);
        }
    }
}

@keyframes floatIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.say {
    border: 1px solid #eee;
    overflow: auto;
}

.say > img {
    max-width: 20%;
    float: left;
    margin-right: 1em;
}

.say > p:first-of-type {
    font-weight: bold;
    margin: 0.2em 0;
    border-bottom: 1px solid #eee;
}

.say > p:last-of-type {
    padding: 0.5em;
    margin: 0;
}

.speech {
    border: var(--ui-accent-dark) 2px solid;
    border-radius: 1em;
    overflow: auto;
    padding: 0 1em;
    margin-bottom: 0.5em;
    h2 {
        margin: 0;
        font-size: 0.8em;
    }
    p {
        text-indent: calc(1em - 2px);
    }
    &.kai {
        border-color: var(--mc-main);
        color: var(--mc-main-light);
    }
    &.ai {
        border-color: var(--boss-main); 
        color: var(--boss-main-light);
    }
}